/*variables */
/*HOME - styles */
.homeContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column; }

.messageBox {
  display: flex;
  flex-direction: column;
  min-width: 200px; }

.messageBox textarea:focus,
.messageBox input:focus {
  background-color: rgba(129, 101, 71, 0.2); }

.horizontalList li {
  list-style: circle;
  margin-right: 50px; }

.footer {
  padding-bottom: 10px; }

/*MOBILE specific styles */
@media screen and (max-width: 752px) {
  .footer {
    margin-top: 100px; } }

/*DESKTOP specific styles */
@media screen and (min-width: 753px) {
  .footer {
    position: absolute;
    bottom: 0; }
  .homeContainer {
    flex-direction: row;
    max-width: 900px; }
  .homeIntro {
    margin-right: 60px; }
  .messageBox {
    margin-top: 50px; } }

/* reset */
body {
  margin: 0px; }

/* Typography */
:root {
  font-family: "Inconsolata", monospace; }

h1 {
  font-size: 3.2em;
  line-height: 1.1; }

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit; }

a:hover {
  color: #646cff; }
