/* Colors */
.navigation {
  padding: 0;
  margin: 0; }

.navigation li {
  list-style: none; }

.navigation a {
  color: #000;
  font-weight: normal;
  display: block; }

.navigation button {
  border-radius: 0;
  border: none;
  cursor: pointer;
  font-family: "Inconsolata", monospace;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out; }

/*MOBILE specific styles */
@media screen and (max-width: 752px) {
  .navigation button {
    width: 100vw;
    padding: 10px; } }

/*DESKTOP specific styles */
@media screen and (min-width: 753px) {
  .navigation {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    padding-left: 0; }
  .navigation button {
    padding: 100px; }
  .navigation button:hover {
    transform: translate(3em, 0);
    -webkit-transform: translate(3em, 0);
    -moz-transform: translate(3em, 0);
    -o-transform: translate(3em, 0);
    -ms-transform: translate(3em, 0); } }
